{% extends 'base.html' %}

{% block nav-item-2 %}
layui-nav-itemed
{% endblock %}
{% block nav-this-2-1 %}
layui-this
{% endblock %}

{% block title %}
Deployments
{% endblock %}


{% block content %}
    {% csrf_token %}
    <span class="layui-breadcrumb">
      <a href="/">首页</a>
      <a href="#">工作负载</a>
      <a><cite>Deployments</cite></a>
    </span>
    <script type="text/html" id="toolbarDemo">
            <div class="demoTable">
              <button class="layui-btn layui-btn-sm" lay-event="addData">创建</button>
              <div class="layui-inline">
                <input type="text" class="layui-input" name="name" id="demoReload" autocomplete="off">
              </div>
              <button class="layui-btn layui-btn-sm" id="searchBtn" lay-event="searchBtn" data-type="reload">搜索</button>
            </div>


    </script>
    <table class="layui-hide" id="nstable" lay-filter="nstable"></table>

    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-xs" lay-event="yaml">yaml</a>
      <a class="layui-btn layui-btn-xs" lay-event="details">详情</a>
      <a class="layui-btn layui-btn-xs" lay-event="scale">扩容/缩容</a>
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
{% endblock %}

{% block js %}
<script>

layui.use('table', function(){
  var table = layui.table;
  var $ = layui.jquery

  table.render({
    elem: '#nstable'
    ,url:'{% url "deployment_api" %}?namespace=' + namespace
    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
      title: '提示'
      ,layEvent: 'LAYTABLE_TIPS'
      ,icon: 'layui-icon-tips'
    }]
    ,title: '用户数据表'
    ,cols: [[
      {field:'name', title:'名称',sort: true, align: 'center'}
      ,{field:'namespace', title:'命名空间',sort: true, align: 'center'}
      ,{field:'replicas', title:'预期副本数',sort: true, align: 'center'}
      ,{field:'available_replicas', title:'可用副本数',sort: true, align: 'center'}
      ,{field:'labels', title:'标签', align: 'center', templet: labelsFormat}
      ,{field:'selector', title:'Pod标签选择器',sort: true, align: 'center', templet: labelsFormat}
      ,{field:'images', title:'镜像/状态',sort: true, align: 'center'}
      ,{field:'create_time', title:'创建时间',sort: true, align: 'center'}
      ,{title:'操作', toolbar: '#barDemo', align: 'center', width:250}
    ]]
    ,page: true
    ,id: 'dptb'

  })

  //监听行工具事件
  table.on('tool(nstable)', function(obj) {
      let data = obj.data;
      //console.log(obj)
      if (obj.event === 'del') {
          layer.confirm('真的删除'+data['name'] + '这个Deployment吗?', function (index) {
              $.ajax({
                  url: '{% url 'deployment_api' %}',
                  data: data,
                  type: 'DELETE',
                  contentType:"application/json",
                  headers:{'X-CSRFToken': "{{ csrf_token }}"},
                  success: function (result) {
                      if (result.code === 0) {
                          layer.msg(result.msg, {icon: 6})
                           obj.del();
                      } else {
                          layer.msg(result.msg, {icon: 6})
                      }
                  },
                  error: function (){
                      layer.msg('服务器接口异常', {icon: 5})
                  }

              })
          });
      } else if (obj.event === 'yaml') {
            layer.open({
                title: 'YAML'
                ,type: 2
                ,area: ['70%', '80%'],
                content: "{% url 'ace_editor' %}?resource=deployment&" + 'namespace=' + data['namespace'] + '&name=' + data['name']
            })
      } else if (obj.event === 'scale') {
          layer.prompt({
              formType: 0
              ,title: '扩容/缩容'
              ,value: data.replicas
          }, function (value, index) {
              data['replicas'] = value
              $.ajax({
                url: '{% url "deployment_api" %}'
                ,type: 'PUT'
                ,data: data
                ,headers:{'X-CSRFToken': "{{ csrf_token }}"}
                ,success: function (result) {
                    if (result.code === 0){
                        layer.msg(result.msg, {icon: 6})
                        obj.update({
                            replicas: value
                        })

                    }else {
                        layer.msg(result.msg, {icon: 5})
                    }
                }
                ,error: function () {
                    layer.msg('服务器接口异常', {icon: 5})
                }
            })
              layer.close(index)
          })
      }
  })
    // 监听搜索ID事件

    table.on('toolbar(nstable)', function(obj){
        let search_key = $('#demoReload').val()
        switch(obj.event){
          case 'searchBtn':
            table.reload('dptb', {
            where: {
                search_key: search_key
            }
            ,page: {
                curr: 1
            }
        })
          break;
          case 'addData':
            window.location.href = '{% url "deployment_create" %}'
          break;

          //自定义头工具栏右侧图标 - 提示
          case 'LAYTABLE_TIPS':
            layer.alert('这是工具栏右侧自定义的一个图标按钮');
          break;
        }
      });
})
</script>
{% endblock %}